@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  input {
    outline: none;
  }

  h1,
  h2,
  h3 {
    font-family: Lato, sans-serif;
    font-weight: 700;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p.small {
    @apply text-sm;
  }
}

@layer components {
  .sidebar-link {
    @apply flex cursor-pointer items-center gap-3 rounded-md p-3 transition-colors duration-200 hover:bg-main hover:text-darkest;
  }
}

.swiper-pagination-bullet {
  @apply bg-main;
}
