@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  input {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
    @apply bg-secondary-900 bg-opacity-95;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-pizazz;
  }

  h1,
  h2,
  h3 {
    @apply font-lato font-bold;
  }

  @media (min-width: 789px) {
    .layout-main {
      max-width: calc(100vw - 248px);
    }
  }
}

@layer components {
  .sidebar-link {
    @apply flex cursor-pointer items-center gap-3 rounded-md p-3 text-sm font-semibold transition-colors duration-200 hover:bg-pizazz hover:text-secondary-900;
  }

  .navbar-link {
    @apply flex w-full cursor-pointer items-center justify-center gap-3 rounded-md p-5 text-lg transition-colors duration-200 hover:bg-pizazz hover:text-secondary-900;
  }
}

@layer utilities {
  .banner-gradient {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.87) 0%,
      rgba(0, 0, 0, 0.739670868347339) 28%,
      rgba(0, 0, 0, 0.5211834733893557) 59%,
      rgba(0, 0, 0, 0.2914915966386554) 83%,
      rgba(0, 0, 0, 0) 96%
    );
  }

  @media (max-width: 769px) {
    .banner-gradient {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.87) 0%,
        rgba(0, 0, 0, 0.739670868347339) 28%,
        rgba(0, 0, 0, 0.5211834733893557) 59%,
        rgba(0, 0, 0, 0.2914915966386554) 83%,
        rgba(0, 0, 0, 0) 96%
      );
    }
  }

  .central-fixed {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rate-star {
    @apply w-14 cursor-pointer text-pizazz;
  }

  .rate-star:hover,
  .rate-star:hover ~ .rate-star {
    @apply fill-pizazz;
  }

  .rated-star,
  .rated-star ~ .rate-star {
    @apply fill-pizazz;
  }
}

.swiper-pagination-bullet {
  @apply bg-pizazz;
}
